@page
@model BankApplication.Areas.Admin.Pages.Users.IndexModel
@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h1>Administrera användare</h1>
<p>Den här sidan är endast tillgänglig för administratörer.</p>