@page
@model BankApplication.Areas.Admin.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Användare";
    Layout = "_DashboardLayout";
}

<h1>All Users</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>

            <th>Alternativ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@user.Id" class="btn btn-warning btn-sm">Redigera</a>
                    <a asp-page="Details" asp-route-id="@user.Id" class="btn btn-info btn-sm">Detaljer</a>
                    <a asp-page="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-sm">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success">+ Skapa ny användare</a>


