@page
@model BankApplication.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Accounts";
    Layout = "_DashboardLayout";
}
<link rel="stylesheet" href="~/assets2/css/din-fil.css">
<script src="~/assets2/js/din-fil.js"></script>
<div class="card">
    <div class="card-header">
        <h1>All Accounts</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Account number</th>
                <th>Balance</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var acc in Model.Accounts)
            {
                <tr>
                    <td>@acc.AccountNo</td>
                    <td>@acc.Balance</td>
                    <td>
                        <a asp-page="Withdraw" asp-route-accountId="@acc.Id"><i class='bx bx-money-withdraw'></i></a>
                    </td>
                    <td>
                        <a asp-page="Deposit" asp-route-accountId="@acc.Id"><i class='bx bx-plus-circle'></i></a>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>
