@page
@model BankApplication.Pages.Account.WithdrawModel
@{
}

<h1>Withdraw</h1>
<h3>Balance: @Model.Balance kr</h3>
<form method="post">
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" />
        <span class="field-validation-error" asp-validation-for="Amount"></span>
    </div>
    <button type="submit" class="btn btn-primary">Withdraw</button>
</form>


