@page
@model BankApplication.Pages.Account.WithdrawModel
@{
    ViewData["Title"] = "Withdraw";
    Layout = "_DashboardLayout";
}
<link rel="stylesheet" href="~/assets2/css/din-fil.css">
<script src="~/assets2/js/din-fil.js"></script>
<h1>Withdraw</h1>
<h3>Balance: @Model.Balance kr</h3>
<form method="post">
    <input type="hidden" asp-for="Balance" /> 
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" />
        <span class="field-validation-error" asp-validation-for="Amount"></span>
    </div>
    <button type="submit" class="btn btn-primary">Withdraw</button>
</form>


