@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_DashboardLayout";
      <!-- Använd din dashboard-layout -->
}
<!-- Lägg till CSS om den inte redan finns i layout -->
<link rel="stylesheet" href="~/asset2/css/site.css" />

<div class="card">
    <div class="card-header">
        <h1>Alla personer</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Namn</th>
                <th>Email</th>
                <th>City</th>
                <th></th>
            </tr>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@customer.City</td>
                    <td>
                        <a asp-page="Edit" asp-route-personId="@customer.Id"><i class='bx bx-edit'></i></a>
                    </td>
                </tr>
            }
        </table>

        <a class="btn" asp-page="/Customer/Create">Create new</a>
    </div>
</div>

<!-- Lägg till JS i slutet -->
<script src="~/asset2/js/site.js"></script>
