@page
@model BankApplication.Pages.AccountPages.DepositModel
@{
    ViewData["Title"] = "AccountUpdate";
    Layout = "_DashboardLayout";
}
<link rel="stylesheet" href="~/assets2/css/din-fil.css">
<script src="~/assets2/js/din-fil.js"></script>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success">
        @Model.SuccessMessage
    </div>
}

<h1>Deposit</h1>

<form method="post" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Amount"></label>
        <input class="form-control" asp-for="Amount" />
        <span class="text-danger" asp-validation-for="Amount"></span>
    </div>

    <div class="form-group">
        <label asp-for="DepositDate"></label>
        <input class="form-control" asp-for="DepositDate" />
        <span class="text-danger" asp-validation-for="DepositDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="Comment"></label>
        <input class="form-control" asp-for="Comment" />
        <span class="text-danger" asp-validation-for="Comment"></span>
    </div>

    <button type="submit" class="btn btn-primary">Deposit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
