<!DOCTYPE html>
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/asset2/css/site.css" asp-append-version="true">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="grid-container">
        <!-- All din gemensamma HTML här -->
        <main class="main">
            @RenderBody()  <!-- Här kommer sidans innehåll -->
        </main>
    </div>
    <script src="~/asset2/js/site.js"></script>
</body>
</html>