<!-- Pages/Shared/_Header.cshtml -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a asp-page="/Index" class="logo d-flex align-items-center me-auto">
            <h1 class="sitename">Bank</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a asp-page="/Index" class="@(Context.Request.Path == "/" ? "active" : "")">Home</a></li>
                <li>
                    <a asp-page="/Customers"
                       class="@(Context.Request.Path == "/Customers" ? "active" : "")">
                        Customers
                    </a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>