@page
@model BankApplication.Areas.Identity.Pages.Admin.Users.AllUsersModel
@{
    ViewData["Title"] = "ALl Users";
    Layout = "_DashboardLayout";  
}

<h1>Users</h1>

<div class="card-body">
    <div class="btn-group-vertical w-100" role="group">

        <a asp-area="Identity" asp-page="/Account/Manage/Email" class="btn btn-warning btn-sm">Change Email</a>
        <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"class="btn btn-warning btn-sm">Change Password</a>
        <a asp-area="Identity" asp-page="/Account/Manage/Register" class="btn btn-info btn-sm">Register new user</a>
        <a asp-area="Identity" asp-page="/Account/Manage/DeletePersonalData" class="btn btn-info btn-sm">Delete a user</a>



    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Roll</th>

        </tr>
   
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
               
            </tr>
        }
    </tbody>
</table>

